*{
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Ubuntu', sans-serif;

}
.h2-ContactUs{
    color: black;
}
.navBarContainor{
    height: 65px;
}
.divH1ContactUs{
    background: linear-gradient(to bottom, #0096c7, #023e8a);
    width: 100%;
    height: 400px;
    color: white;
    position:relative;
    padding-top: 50px;
    padding-bottom: 50px;
}
.h1-ContactUs{
    padding: 30px;
    text-align: center;
}
.divSuggestions{
    background-color: white;
    width: 100%;
    height: 700px;
    color: black;
    padding-top: 100px;
}
.mapSection{
    display: flex;
}
.leftMapSection{
    width: 40%;
    height:450px;
}
.rightMapSection{
    width: 60%;
    height:450px;
}
.contactDetails{
    width: 100%;
    height: 300px;
    font-family: 'Karla', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;
}
.h2ContactNumber{
    margin: 20px 360px 0 0;
}
.h2Address{
    margin: 20px 150px 0 0;
}
.h2Detail{
    margin-top: 23px;
    color: white;
}
.h2Email{
    margin: 20px 320px 0 0;
}
.contactDetails p{
    margin: 18px 0 0 0;
    text-align: right;
    color: white;
}
.contactItem{
    display: flex;
}

.socialSection{
    width: 300px;
    height: 100px;
    margin: 35px 0 0 190px;
    display: flex;
}
.socialIcon{
    width: 60px;
    height: 60px;
    margin: 0 20px 0 50px;
}

.facebookLogo{
    width: 50px;
    height: 40px;
    cursor: pointer;
}
.socialIcon img:hover{
    opacity: 0.7;
}
.TwitterLogo{
    width: 45px;
    height: 45px;
    cursor: pointer;
}
.InstagramLogo{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.TwitterDiv{
    margin: 0 8px 0 10px;
}
.instaDiv{
    margin: 0 40px 0 10px;
}
.h1Suggestions{
    padding-top: 100px;
    color: white;
}

.textRow{
    margin-top: 30px;
}
.label{
    margin-right: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    display: flex;
    align-items: center;
    justify-content: center;
}

.legendSuggestions{
    width: 50%;
    height: 1000px;
    background: linear-gradient(to bottom, #0096c7, #023e8a);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 390px;
    justify-content: center;
    align-items: center;
}

.suggestionsContainer{
    display: inline;
    padding-left: 100px;
}

#textMessage{
    height: 75px;
    font-size: 15px;
    padding-left: 5px;
}
.btnSubmit{
    width: 120px;
    height: 55px;
    margin-top: 25px;
    background-color: #03045e;
    color: white;
    font-size: 14px;
}
.btnSubmit:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}
.textField{
    height: 35px;
    width: 450px;
    font-size: 15px;
    padding-left: 5px;
    font-family: 'Karla', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;
}
.label{
    margin: 0 0 0 0;
}
.map{
    width: 250px;
    height: 250px;
    margin: 25px 0 0 130px;
}
.mapImg{
    width: 250px;
    height: 250px;
}
.imgContactUs{
    width: 100%;
    height: 200px;
    position: relative;
    
}
.ContactUsImg{
    height: 600px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.txtContactUsAboveImage{
    margin: 335px 0 0 0;
    font-size: 120px;
    color: white;
    -webkit-text-stroke: 3px black;
    text-align: center;
}
.whitespace{
    height: 150px;
    background-color: white;
}
.formContainor{
    justify-content: center;
    background: linear-gradient(to bottom, #0096c7, #023e8a);
    color: white;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 50px;
    margin-left: 400px;
}