*{
    padding: 0;
    margin: 0;
}

.home_background{
    background-image: url(../img/home_background.jpg);
    height: 100vh;
    display: flex;
    padding: auto;
    align-items: center;
    justify-content: center;
}

#intro{
    color:white;
}

.intro strong{
    font-size: 60px;
}

.name_logo .intro{
    width: 50%;
    border: border-box;
}

.name_logo {
    margin-left: 5%;
    margin-right: 10%;
}

.intro{
    margin-right: 5%;
}



.package{
    background-color: rgb(232, 232, 232);
    height: 100vh;
}