*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header, footer {
    margin:auto;
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
    color:black;
  }
  
  h1 {
    color: #333;
    margin: 0;
  }
  
  main {
    padding: 20px;
    
  }
  
 div{
    margin-bottom: 20px;
  }
  
  h2 {
    color: #333;
    margin-top:0%;
    font-size: 20px;
    text-align: center;
  }
  
  p {
    color:white;
  }
  
  .OurCenter{
    background: linear-gradient(to bottom, #0096c7, #023e8a);
    width: 100%;
    height: auto;
    color: white;
    position:relative;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .barchartcontainer{
    height: auto;
    width: 80%;
    margin-left:170px;
    padding-top: 100px;
    
  }
  .barchartcontainer img{
    height:auto;
    width: 60%;
  
    
  }
  .description-1{
    margin-left: 170px;
    margin-bottom: 50px;
    display: flex;
    margin-bottom: 0%;
    width:100%;
    height:auto;

  }
  .description-2{

    margin-left: 170px;
    margin-top: 50px;
    display: flex;
    margin-bottom: 0%;
    width:100%;
    height:auto;
  }

  p.stats{
    width:57%;
    font-size:20px;
    text-align:center;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
  }
  .card img{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .accomodation{
    margin-top: 0%;
    background-color:none;
    color: white;
    width:25%;
    margin-bottom: 0%;
    margin-right:15px;
  }

 .MedicalCare{
    margin-top: 0%;
    background-color:none;
    color: white;
    width:25%;
    margin-bottom: 0%;
    margin-right:15px;
 }

 .NutriousMeal{
    margin-top: 0;
    background-color:none;
    color: white;
    width:25%;
    margin-bottom:0%;
    margin-right:15px;
    
 }

 .BasicAmenties{
    margin-top: 0%;
    background-color:none;
    color: white;
    width:25%;
    margin-bottom: 0%;
    margin-right:15px;
 }

 .ComuandEnter{
    margin-top: 0%;
    background-color:none;
    color: white;
    width:25%;
    margin-bottom: 0%;
    margin-right:15px;
 }

 .Safemeatures{
    margin-top: 0%;
    background-color:none;
    color: white;
    width:25%;
    margin-bottom: 0%;
    margin-right:15px;
 }