* {
    margin: 0px;
    padding: 0px;
}

.pkgDetails {
    background-color: white;
    height: 1400px;
    padding-top: 170px;
}

.basicpkg{margin-left: 90px;}
.familypkg {margin-left: 80px;}
.longtermpkg{margin-left: 60px;}
.enhancedpkg{margin-top: 100px; margin-left: 340px;}
.vippkg{margin-top: 100px; margin-left: 100px;}

.basictitlecard{padding-left: 27px;}
.familytitlecard{padding-left: 20px;}
.longtitlecard{padding-left: 20px;}
.enhancedtitlecard{padding-left: 5px;}
.viptitlecard{padding-left: 40px;}

.card:hover{
    cursor: pointer;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
}

.card-body {
    border: 2px solid black;
    border-radius: 17px;
}

.card{
    border-radius: 15px;
}