* {
    margin: 0px;
    padding: 0px;
}

.pkgDetails {
    background-color: white;
    height: 1600px;
    padding-top: 170px;
}

#basicpkg{margin-left: 50px;} 
#familypkg {margin-left: 50px;}
#longpkg{margin-left: 50px;}
#enhancedpkg{margin-top: 100px; margin-left: 280px;}
#vippkg{margin-top: 100px; margin-left: 100px;}

.card:hover{
    cursor: pointer;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
}

.card{
    border-radius: 10px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2);
}

.card-text, .card-title{
    text-align: center;
}


.imagepackagecontainer{
    width : 100%;
    height: 800px;
}

.pkgimgbig{
    width : 100%;
    height: 900px;
    position: fixed;
    z-index: -5;
    opacity: 0.8;
}

.txtpkgAboveImage{
    text-align: center;
    font-size: 120px;
    color: white;
    background-color: none;
    padding-top: 460px;
}

.hidden {
    opacity: 0.2;
  }

.collapsetext{
    color: #2684FF;
}

.pricetag{
    color: #FF0000;
}