*{
    margin: 0;
    padding: 0;
}

.divAdminPanel{
    height: 665px;
    width: 100%;
    display: flex;
}
.divAdminPanelLeft{
    width: 65%;
    padding-top: 65px;
    background-color: white;
}
.divAdminPanelRight{
    width: 35%;
    padding-top: 65px;
    background-color: #0077b6;
}
.PanelRow{
    height: 198px;
    width: 97%;
    display: flex;
    padding-left: 40px;
}
.panelItem{
    width: 200px;
    margin: 25px 0 0 0;
    cursor: pointer;
}
.panelItem img{
    width: 125px;
    height: 125px;
    box-shadow: 0px 2px 4px rgba(14, 1, 1, 0.2);
    border-radius: 75px;
}
.panelItem img:hover{
    width: 127px;
    height: 127px;
    opacity: 0.7;
}
.PanelRightPart h3{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: white;
}
.divAccordianContainor{
    padding: 2.5px;
}
.divProgressBarContainor{
    padding: 2.5px;
}
figcaption{
    color: #03045e;
    padding-left: 40px;
    padding-top: 5px;
}
#figequip{
    color: #03045e;
    padding-left: 23px;
    padding-top: 5px;
}

h3{
    font-family: 'Roboto Slab', serif;
}

.accordion-body{
    font-family: 'Open Sans', sans-serif;
}

.accordion-header{
    font-family: 'Merriweather', serif;
}