*{
    padding: 0px;
    margin: 0px;
}

.changeBack{
    height: 100vh;    
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.changeS{
    width: 400px;
    height: 700px;
    background: linear-gradient(to bottom, #0096c7, #023e8a);
    color: white;
    padding: 10px;    
}

.changeS img{
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.changeS label,.changeS input[type="email"],.changeS input[type="password"]{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.changeS label{
    font-size: 20px;
    margin-top: 15px;
}

.changeS input{
    width: 60%;
    height: 25px;
}

.changeS input[type="email"],.changeS input[type="password"]{
    padding-left: 10px;
}

.changeS input[type="submit"]{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #03045e;
    color: white;
    margin: auto;
    width: 100px;
    height: 30px;
}

.changeS input[type="submit"]:hover{
    cursor: pointer;
}
.changeBtn{
    background-color: #03045e;
    color: white;
    width: 100px;
    height: 25px;
    text-align: center;
    border-radius: 5px;
    margin-left: 145px;
    margin-top: -5px;
    margin-bottom: 40px;
}
.changeBtn:hover{
    background-color: #0096c7;
    cursor: pointer;
}
.error{
    color: red;
    font-size: 15px;
    margin-left: 80px;
    margin-top: -5px;

}
h3{
    margin-top: -20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.roleDiv{
    display: flex;
    margin-bottom: 17px;
    width: 60%;
    height: 80px;
    margin: auto;
}