*{
    margin: 0;
    padding: 0;
}
.DoctorDetailArea{
    background-color: white;
    width: 100%;
}
.formOneContainorDoctor{
    display: flex;
    width: 100%;
}
.existingDoctors{
    width: 40%;
}
.h2Holder h2{
    padding: 30px;
}
.doctorForm{
    padding: 40px;
    width: 60%;
    height: 900px;
    background: linear-gradient(to bottom, #0096c7, #023e8a);
    color: white;
    
}
.footerContainorDoctor{
    
}