* {
    margin: 0;
    padding: 0;
}
.EquipmentDetailArea {
    height: 1000px;
    background-color: white;
    width: 100%;
}
.formOneContainorEquipment {
    display: flex;
    width: 100%;
}

.existingEquipment {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    padding: 20px; 
    background-image: url('../img/equipments-image.png');
    background-position: center;
    background-size:auto;
    background-repeat: no-repeat;
}

.existingEquipmentCard {
    border: 1px solid #ccc;
    padding: 5px;
    width: 500px;
    background: linear-gradient(to bottom, white, white);
    border-radius: 8px;
    box-shadow: 0px 2px 4px #023e8a;
    color: black;
    margin-top: 10px;
    margin-left: 75px;
    opacity: 0.8;
}

.h2Holder h2 {
    padding: 30px;
}

.equipmentForm , .packageForm{
    padding: 40px;
    width: 50%;
    height: 800px;
    background: linear-gradient(to bottom, #0096c7, #023e8a);
    color: white;
    margin-left: 40px;
}

.scrollablePanel {
    max-height: 800px;
    overflow-y: auto;
    padding-right: 15px;
}