* {
    margin: 0;
    padding: 0;
}
.MealDetailsArea {
    height: 1000px;
    background-color: white;
    width: 100%;
}
.formOneContainorMeal {
    display: flex;
    width: 100%;
}

.existingMeal {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    margin: 20px;
    background-image: url('https://png.pngtree.com/png-clipart/20191121/original/pngtree-color-food-cartoon-doodles-set-png-image_5103942.jpg');
}

.existingMealCard {
    border: 1px solid #ccc;
    padding: 5px;
    width: 500px;
    background: linear-gradient(to bottom, white, white);
    border-radius: 8px;
    box-shadow: 0px 2px 4px #023e8a;
    color: black;
    margin-top: 10px;
}

.h2Holder h2 {
    padding: 30px;
}

.MealForm {
    padding: 50px;
    width: 50%;
    height: 800px;
    background: linear-gradient(to bottom, #0096c7, #023e8a);
    color: white;
    margin: 20px;
}

