*{
    margin: 0;
    padding: 0;
}
.NurseDetailArea{
    background-color: white;
    width: 100%;
}
.formOneContainorNurse{
    display: flex;
    width: 100%;
}
.existingNurses{
    width: 40%;
}
.h2Holder h2{
    padding: 30px;
}
.nurseForm{
    padding: 40px;
    width: 60%;
    height: 900px;
    background: linear-gradient(to bottom, #0096c7, #023e8a);
    color: white;
    
}
.footerContainorNurse{

}