* {
    margin: 0;
    padding: 0;
}

.PatientDetailArea {
    background-color: white;
    width: 100%;
<<<<<<< HEAD
    height: 1500px;
=======
    height: 1400px;
>>>>>>> 606c9e7d543806cbd6c85f8d8379c893a53f85f9
}

.formOneContainorPatient {
    display: flex;
    width: 100%;
}

.existingPatients {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    padding: 20px; 
}

.existingPatientCard {
    border: 1px solid #ccc;
    padding: 5px;
    width: 500px;
    background: linear-gradient(to bottom, white, white);
    border-radius: 8px;
    box-shadow: 0px 2px 4px #023e8a;
    color: black;
    margin-top: 10px;
}

.h2Holder h2 {
    padding: 30px;
}

.patientForm {
    margin-left: 50px;
    padding: 40px;
    width: 60%;
    height: 1300px;
    background: linear-gradient(to bottom, #0096c7, #023e8a);
    color: white;
}
