.panalBody{
    padding-top: 65px;
    background-color: azure;
    height: 700px;
}

.popup{

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    padding: 20px 20px;
    background-color: rgb(186, 139, 76);
    border-radius: 5px;

}

.popup h1{
    text-align: center;
}