*{
    margin: 0;
    padding: 0;
}
.StaffDetailArea{
    background-color: white;
    width: 100%;
}
.formOneContainorStaff{
    display: flex;
    width: 100%;
}
.existingStaff{
    width: 40%;
}
.h2Holder h2{
    padding: 30px;
}
.staffForm{
    padding: 40px;
    width: 60%;
    height: 870px;
    background: linear-gradient(to bottom, #0096c7, #023e8a);
    color: white;
    
}
.footerContainorStaff{
    
}