*{
    margin: 0;
    padding: 0;
}

.divAdminPanel{
    height: 665px;
    width: 100%;
    display: flex;
}
.divAdminPanelLeft{
    width: 70%;
    padding-top: 65px;
}
.divAdminPanelRight{
    width: 30%;
    padding-top: 65px;
}
.PanelRow{
    height: 198px;
    width: 97%;
    display: flex;
    padding-left: 40px;
}
.panelItem{
    width: 200px;
    margin: 25px 0 0 0;
    cursor: pointer;
}
.panelItem img{
    width: 125px;
    height: 125px;
    box-shadow: 0px 2px 4px rgba(14, 1, 1, 0.2);
}
.panelItem img:hover{
    width: 127px;
    height: 127px;
    opacity: 0.7;
}
.PanelRightPart h3{
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.divAccordianContainor{
    padding: 2.5px;
}
.divProgressBarContainor{
    padding: 2.5px;
}