*{
    margin: 0;
    padding: 0;
}
.StaffDetailArea{
    height: 1000px;
    background-color: white;
    position: absolute;
    width: 100%;
}

.h2Holder h2{
    padding: 60px;
}
.formOneContainor{
    width: 50%;
    position: absolute;
    top: 200px;
    left: 375px;
    color: white;
    background: linear-gradient(to bottom, #0096c7, #023e8a);
    padding: 80px;
}